body {
  overflow: hidden;

  color: $color-1;
  font-family: $main-font-family;

  &.touch-device {
    overflow: auto;
  }
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
  z-index: 100;
}
// .c-scrollbar:hover {
//   // transform: scaleX(1.45);
// }
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-1;

  width: 7px;

  margin: 2px;
  // cursor: -webkit-grab;
  // cursor: grab;
}
// .has-scroll-dragging .c-scrollbar_thumb {
//   // cursor: -webkit-grabbing;
//   // cursor: grabbing;
// }

// [data-scroll-section] {
//   will-change: transform;
// }

.main {
  color: $color-1;
  font-family: $main-font-family;
  // padding-top: 120px;
  overflow: hidden;

  @media (max-width: 1200px) {
    // padding-top: 70px;
  }
}

.loaded-content {
  overflow: hidden;

  .content {
    position: relative;
  }
}
