.feedback {
  &__title {
    max-width: 840px;
    font-size: 55px;
    line-height: 120%;
    display: none;

    @media (max-width: 768px) {
      font-size: 24px;
    }

    &.active {
      display: block;
    }
  }

  &__form {
    margin: 80px 0 60px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    @include transition();

    @media (max-width: 768px) {
      margin: 40px 0;
    }

    .feedback-field {
      position: relative;
      margin-bottom: 60px;

      @media (max-width: 768px) {
        margin-bottom: 40px;
      }

      input {
        width: 100%;
        padding-bottom: 30px;
        font-size: 20px;
        line-height: 100%;
        border-bottom: 1px solid $color-2;
        color: $color-1;
        @include transition();

        &:focus {
          border-bottom: 1px solid $color-6;
        }

        &::placeholder {
          font-size: 20px;
          line-height: 100%;
          color: $color-1;
        }
      }

      .error {
        position: absolute;
        top: 80%;
        color: $color-5;
        font-size: 12px;
        line-height: 140%;
        opacity: 0;
        @include transition();

        &.active {
          top: calc(100% + 5px);
          opacity: 1;
        }
      }
    }

    textarea {
      font-size: 20px;
      line-height: 100%;
      border-bottom: 1px solid $color-2;
      height: 140px;
      padding: 0;
      color: $color-1;
      @include transition();

      @media (max-width: 768px) {
        height: 100px;
      }

      &:focus {
        border-bottom: 1px solid $color-6;
      }

      &::placeholder {
        font-size: 20px;
        line-height: 100%;
        color: $color-1;
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: start;
    }

    .submit-btn {
      display: none;

      &.active {
        display: block;
      }
    }

    input[name="agree"] + label {
      margin-left: 210px;
      width: 340px;

      @media (max-width: 1200px) {
        margin-left: 60px;
      }

      @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &.sended {
    .feedback__form {
      width: 0;
      opacity: 0;
    }

    .feedback-agree {
      display: none;
    }
  }
}
