.more-btn {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  width: fit-content;
  min-height: 55px;
  height: 55px;
  border-radius: 27.5px;
  padding: 0 30px 0 24px;
  @include transition();

  @media (max-width: 768px) {
    min-height: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0 24px 0 17px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 55px;
    border-radius: 27.5px;
    background: $color-6;
    @include transition();

    @media (max-width: 768px) {
      width: 40px;
      border-radius: 20px;
    }
  }

  &:hover {
    margin-right: 20px;
    
    img {
      margin-right: 21px;

      @media (max-width: 768px) {
        margin-right: 10px;
      }
    }

    span {
      color: $color-7;
    }

    &::before {
      width: 100%;
    }
  }

  img {
    height: 14px;
    width: 10px;
    margin-right: 41px;
    @include transition();

    @media (max-width: 768px) {
      height: 11px;
      width: 8px;
      margin-right: 30px;
    }
  }
  span {
    font-size: 16px;
    color: $color-1;
    @include transition();

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
