.recognition {
  overflow: hidden;
  margin: 160px 0;

  @media (max-width: 768px) {
    margin: 80px 0;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: $additional-font-family;
    font-size: 130px;
    line-height: 100%;
    padding-left: 40px;
    margin-bottom: 80px;
    color: $color-1;

    @media (max-width: 1200px) {
      padding-left: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
      font-size: 40px;
    }
  }

  &__content {
    position: relative;
    width: 100%;

    .str_move {
      position: absolute;
      display: flex;
      align-items: center;
    }

    &-row {
      display: flex;
      align-items: center;

      &-1 {
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }

      &-2 {
        transform: translateX(-90px);

        @media (max-width: 768px) {
          transform: translateX(-30px);
        }
      }
    }

    &-item {
      width: fit-content;
      max-width: 240px;
      height: auto;
      max-height: 116px;
      margin-right: 20px;

      @media (max-width: 768px) {
        max-width: 124px;
        max-height: 60px;
        margin-right: 10px;
      }

      .recognition-1 {
        width: 240px;
        height: 116px;

        @media (max-width: 768px) {
          width: 124px;
          height: 60px;
        }
      }

      .recognition-2 {
        width: 182px;
        height: 88px;

        @media (max-width: 768px) {
          width: 94px;
          height: 46px;
        }
      }
    }
  }
}
