.case-item {
  width: 100%;
  align-self: flex-end;
  background: transparent;

  &__content {
    position: relative;
    display: flex;
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid $color-1;
    @include transition();

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      padding: 20px 0 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 0 40px;
    }

    &:hover {
      background: $color-2;

      .case-item__content-title-block {
        padding-left: 40px;
      }
    }

    .case-item__link {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
    }

    &-title-block {
      max-width: 506px;
      width: 100%;
      margin: 0 auto 0 0;
      padding-left: 0;
      @include transition();

      @media (max-width: 1200px) {
        max-width: 50%;
        padding-right: 5px;
        margin: 20px 0 30px;
        order: 2;
      }

      @media (max-width: 768px) {
        max-width: 100%;
        padding-right: 0;
      }
    }

    &-img-block,
    .case-item__practices {
      width: 25%;
      margin-left: 20px;

      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }

    &-img-block {
      @media (max-width: 1200px) {
        width: 100%;
        order: 1;
      }
    }

    .case-item__practices {
      @media (max-width: 1200px) {
        width: 50%;
        padding-left: 5px;
        margin: 20px 0 30px;
        order: 3;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        padding-left: 0;
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .tab-btn {
    background: transparent;
  }

  &__img {
    width: 284px;
    height: 160px;
    border: 1px solid $color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    @media (max-width: 1200px) {
      width: 100%;
    }

    span {
      display: inline-flex;
      justify-content: center;
    }

    img {
      width: 50%;
    }
  }

  &__practices {
    &-title {
      font-size: 20px;
      line-height: 140%;
      font-family: $additional-font-family;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
    }

    &-item {
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 20px;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .link {
        position: relative;
        z-index: 2;
      }

      .link::before {
        bottom: -5px;
        background: $color-1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.small {
    width: calc((100% / 8) * 7);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: 1200px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .case-item__content {
      &-img-block,
      .case-item__practices {
        width: 27.5%;
      }

      &-img-block {
        @media (max-width: 1200px) {
          width: 100%;
        }
      }

      .case-item__practices {
        @media (max-width: 1200px) {
          width: 50%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
