.case {
  &__content {
    max-width: 1920px;
    margin: 40px auto 120px;
    padding: 0 40px;

    @media (max-width: 1200px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      margin: 30px 0 40px;
    }

    .left-block {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  &__share {
    position: sticky;
    top: 130px;
    height: fit-content;

    .share {
      margin: 80px 0 0;

      &__title {
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        margin: 0 0 40px;
      }

      &__links {
        display: flex;
        flex-direction: column;

        &-item {
          margin: 0 0 10px;

          &:last-child {
            margin: 0;
          }

          a {
            position: relative;
            font-size: 20px;
            line-height: 140%;
            @include transition();

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: $color-1;
              @include transition();
            }

            &:hover {
              color: $color-6;

              &::before {
                width: 0;
              }
            }
          }
        }
      }
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    &-img {
      display: none;

      @media (max-width: 768px) {
        width: 100%;
        height: 160px;
        margin-top: 20px;
        border: 1px solid $color-2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;

        span {
          display: inline-flex;
          justify-content: center;
        }

        img {
          width: 50%;
        }
      }
    }
  }

  &__title {
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    font-family: $additional-font-family;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 20px;
    }
  }

  &-block {
    padding-left: 80px;

    @media (max-width: 1200px) {
      padding-left: 0;
    }

    p {
      font-size: 18px;
      line-height: 160%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    .subject {
      margin-bottom: 80px;

      @media (max-width: 768px) {
        margin-bottom: 60px;
      }

      p {
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .result {
      &__title {
        font-size: 30px;
        line-height: 140%;
        margin-bottom: 40px;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      &__numeric-list {
        margin-bottom: 80px;

        @media (max-width: 768px) {
          margin-bottom: 60px;
        }

        li {
          position: relative;
          padding-left: 100px;
          font-size: 16px;
          line-height: 160%;
          margin-bottom: 20px;

          @media (max-width: 768px) {
            padding-left: 40px;
            font-size: 14px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          span {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      &__text {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 40px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &__disc-list {
        li {
          position: relative;
          padding-left: 100px;
          font-size: 16px;
          line-height: 160%;
          margin-bottom: 20px;

          @media (max-width: 768px) {
            font-size: 14px;
            padding-left: 40px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 6px;
            display: block;
            width: 3px;
            height: 3px;
            background: $color-1;
            border-radius: 50%;
            text-align: center;
          }
        }
      }
    }
  }

  &__other-cases {
    &-title {
      font-size: 130px;
      line-height: 90%;
      font-family: $additional-font-family;
      margin: 160px 0 80px;

      @media (max-width: 992px) {
        font-size: 40px;
      }

      @media (max-width: 768px) {
        margin: 80px 0 40px;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
    }
  }
}
