.command {
  background: $color-3;

  &__content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 1200px) {
      padding: 0 20px;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    margin-bottom: 267px;

    @media (max-width: 768px) {
      margin-bottom: 140px;
    }

    .mobile {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .desktop {
      display: block;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-text {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -147px;
      z-index: 2;
      mix-blend-mode: overlay;
      display: flex;
      align-items: center;

      @media (max-width: 1200px) {
        bottom: -180px;
      }

      @media (max-width: 768px) {
        bottom: -200px;
      }

      @media (max-width: 600px) {
        bottom: -240px;
      }

      .svg {
        &:first-child {
          margin-right: 225px;

          @media (max-width: 1200px) {
            margin-right: 125px;
          }

          @media (max-width: 768px) {
            margin-right: 55px;
          }
        }

        &:nth-child(2) {
          margin-right: 24px;

          @media (max-width: 768px) {
            margin-right: 6px;
          }
        }
      }
    }
  }

  &__slider {
    position: relative;
    height: 660px;
    margin-bottom: 160px;

    @media (max-width: 768px) {
      margin-bottom: 80px;
    }

    @media (max-width: 1399px) {
      height: min-content;
    }

    @media (max-width: 576px) {
      overflow: visible;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 5;
        left: -20px;
        width: 20px;
        height: 100%;
        background: $color-3;
      }
    }

    &-wrapper {
      height: 100%;
      transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }

    &-slide {
      height: 100%;

      @media (max-width: 1399px) {
        height: min-content;
      }

      &-img {
        height: 660px;
        max-width: 588px;

        @media (max-width: 1399px) {
          height: auto;
        }

        @media (max-width: 768px) {
          height: 276px;
        }
      }

      &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 80px 0 37px 20px;
        height: 100%;

        @media (max-width: 1399px) {
          padding: 80px 0 0;
        }

        @media (max-width: 860px) {
          padding: 20px 0 0;
        }

        .number {
          position: absolute;
          top: 0;
          left: 100px;
          font-size: 24px;
          line-height: 140%;
          font-family: $additional-font-family;

          @media (max-width: 1399px) {
            left: auto;
            top: auto;
            bottom: 100%;
            right: 44px;
          }
        }

        .surname {
          font-size: 80px;
          line-height: 140%;
          font-family: $additional-font-family;
          transform: translateX(-142px);

          @media (max-width: 1399px) {
            position: absolute;
            bottom: calc(100% + 70px);
            left: 45%;
          }

          @media (max-width: 860px) {
            position: static;
            transform: none;
          }

          @media (max-width: 768px) {
            font-size: 40px;
          }
        }

        .name {
          font-size: 39px;
          line-height: 140%;

          @media (max-width: 1399px) {
            position: absolute;
            bottom: calc(100% + 40px);
            left: 45%;
          }

          @media (max-width: 860px) {
            position: static;
            padding-left: 30px;
          }

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        &-block {
          align-self: flex-end;
          width: 83%;
          margin-top: 95px;
          padding-top: 20px;
          border-top: 1px solid $color-1;
          display: flex;
          justify-content: space-between;

          @media (max-width: 1399px) {
            margin-top: 0;
            width: 100%;
            margin-bottom: 30px;
          }

          @media (max-width: 860px) {
            margin-top: 20px;
          }

          @media (max-width: 768px) {
            padding-top: 10px;
            flex-direction: column;
            justify-content: flex-start;
          }

          .position {
            font-size: 16px;
            line-height: 140%;
            max-width: 196px;

            @media (max-width: 768px) {
              max-width: 100%;
            }
          }

          .links-block {
            padding-right: 20px;

            @media (max-width: 768px) {
              padding-right: 0;
              margin-top: 30px;
            }

            .email {
              position: relative;
              display: inline-block;
              font-size: 16px;
              line-height: 140%;
              margin-bottom: 30px;
              @include transition();

              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 1px;
                width: 100%;
                height: 1px;
                background: $color-1;
                @include transition();
              }

              &:hover {
                color: $color-6;

                &::before {
                  width: 0;
                }
              }
            }

            .networks {
              display: flex;
              flex-direction: column;
              width: fit-content;

              a {
                position: relative;
                font-size: 16px;
                line-height: 140%;
                margin-bottom: 5px;
                @include transition();

                &:last-child {
                  margin-bottom: 0;
                }

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 1px;
                  width: 100%;
                  height: 1px;
                  background: $color-1;
                  @include transition();
                }

                &:hover {
                  color: $color-6;

                  &::before {
                    width: 0;
                  }
                }
              }
            }
          }
        }

        .categories {
          display: flex;
          flex-wrap: wrap;
          margin: auto 0 0;

          .tab-btn {
            margin-right: 10px;
            margin-bottom: 10px;
            background: transparent;

            span {
              font-size: 18px;

              @media (max-width: 768px) {
                font-size: 14px;
              }
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      &-next-img {
        height: 320px;
        width: 284px;

        @media (max-width: 1200px) {
          min-width: 157px;
          width: 157px;
          min-height: 176px;
          height: 176px;
        }

        @media (max-width: 576px) {
          transform: translateX(95%);
        }
      }
    }

    &-button-next,
    &-button-prev {
      margin: 0;

      .button-active {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 0;
        background: $color-5;
        border-radius: 50%;
        @include transition();
      }

      &:hover {
        & > .svg {
          width: 0;
          height: 0;
        }
      }

      &::after {
        display: none;
      }
    }

    &-button-next {
      top: 92px;
      left: 20px;
      width: 180px;
      height: 136px;

      @media (max-width: 1000px) {
        top: 32px;
        left: 60px;
      }

      @media (max-width: 768px) {
        width: 73px;
        height: 55px;
      }

      @media (max-width: 576px) {
        top: 60px;
        left: 0;
      }

      & > .svg {
        width: 180px;
        height: 136px;
        @include transition();

        @media (max-width: 768px) {
          width: 73px;
          height: 55px;
        }

        path {
          stroke: $color-1;
        }
      }

      .button-active {
        .svg {
          width: 30%;
        }
      }

      &:hover {
        .button-active {
          transform: rotate(360deg);
          width: 83px;
          height: 83px;

          @media (max-width: 768px) {
            width: 49px;
            height: 49px;
          }
        }
      }
    }

    &-button-prev {
      top: 18px;
      left: 20px;
      width: 46px;
      height: 35px;
      transform: rotate(180deg);

      @media (max-width: 768px) {
        width: 32px;
        height: 24px;
      }

      @media (max-width: 576px) {
        top: 0;
        left: 0;
      }

      & > .svg {
        width: 46px;
        height: 35px;
        @include transition();

        @media (max-width: 768px) {
          width: 32px;
          height: 24px;
        }

        path {
          stroke: $color-1;
        }
      }

      .button-active {
        .svg {
          width: 30%;
        }
      }

      &:hover {
        .button-active {
          transform: rotate(360deg);
          width: 49px;
          height: 49px;

          @media (max-width: 768px) {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
