extends ../layouts/master.pug

block header
  .about-company-page
    include ../partials/_header.pug

block content
  -
    const clients = [
      {
        url: 'assets/images/about-company/sevkabel.png',
        alt: 'Севкабель',
        name: 'ООО «Группа компаний «Севкабель»',
        class: 'sevkabel',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
      {
        url: 'assets/images/about-company/university.png',
        alt: 'Европейский университет в Санкт-Петербурге',
        name: 'АНООВО «Европейский университет в Санкт-Петербурге»',
        class: 'university',
      },
      {
        url: 'assets/images/about-company/metrostroy.png',
        alt: 'Метрострой',
        name: 'ЗАО «Семнадцатое управление «Метрострой»',
        class: 'metrostroy',
      },
      {
        url: 'assets/images/about-company/baltic-plant.png',
        alt: 'Балтийский завод',
        name: 'ОАО «Балтийский завод»',
        class: 'baltic-plant',
      },
      {
        url: 'assets/images/about-company/university.png',
        alt: 'К-40',
        name: 'ООО «К-40»',
        class: 'university',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
    ]

  main.main.about-company.container-fluid.px-0
    +pageTitle("О компании")

    .ticker
      .ticker-wrapper.text
        p.ticker-content #[span Сила] #[span Стабильного] #[span Партнерства]
      .ticker-wrapper.images
        img.ticker-img-1(src="assets/images/about-company/ticker-img-1.jpg", alt="ticker-img-1")
        img.ticker-img-2(src="assets/images/about-company/ticker-img-2.jpg", alt="ticker-img-2")
        img.ticker-img-3(src="assets/images/about-company/ticker-img-3.jpg", alt="ticker-img-3")

    .about-company__top
      .row.justify-content-center
        .col-8.col-md-6
          p.about-company__top-description(data-aos="fade-up") С 2008 года, специализируемся на консалтинге в области права и риск менеджмента, оказании профессиональной юридической помощи и сопровождении бизнеса своих клиентов.
      .row.justify-content-end
        .col-8.col-md-4
          .about-company__top-subdescription(data-aos="fade-up")
            .row
              .col-8.col-md-6
                p Наш основной принцип деятельности заложен в самом названии и представляет собой силу стабильного партнерства, мы стремимся достигать высоких результатов и поставленных перед нами задач, становясь не просто инструментом для наших клиентов, а полноценным партнером в ведении их бизнеса и решении иных задач.

    .about-company__advantages(data-aos="fade-up")
      p.about-company__advantages-text #[span Доверие, конфиденциальность,] #[br] #[span ответственность и] #[br] #[span профессионализм] — то, что мы готовы предоставить Вам #[br] в процессе нашего сотрудничества.

    include ../components/_recognition.pug

    .about-company__clients(data-aos="fade-up")
      .about-company__clients-header
        .row.justify-content-between
          .col-2.d-none.d-md-block
          .col
            h2 Наши клиенты
          .col-auto
            .about-company__clients-slider-navigation
              .prev-btn
                img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="prev")
              .next-btn
                img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="next")
      .about-company__clients-slider.swiper-container
        .about-company__clients-slider-wrapper.swiper-wrapper
          each client in clients
            .about-company__clients-slider-slide.swiper-slide
              .slide-img
                span
                  img(src=client.url, alt=client.alt, class=client.class)
              p= client.name


    +seeNext("command", "Команда")

block footer
  include ../partials/_footer.pug
