extends ../layouts/master.pug


block content
  -
    const clients = [
      {
        url: 'assets/images/about-company/sevkabel.png',
        alt: 'Севкабель',
        name: 'ООО «Группа компаний «Севкабель»',
        class: 'sevkabel',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
      {
        url: 'assets/images/about-company/university.png',
        alt: 'Европейский университет в Санкт-Петербурге',
        name: 'АНООВО «Европейский университет в Санкт-Петербурге»',
        class: 'university',
      },
      {
        url: 'assets/images/about-company/metrostroy.png',
        alt: 'Метрострой',
        name: 'ЗАО «Семнадцатое управление «Метрострой»',
        class: 'metrostroy',
      },
      {
        url: 'assets/images/about-company/baltic-plant.png',
        alt: 'Балтийский завод',
        name: 'ОАО «Балтийский завод»',
        class: 'baltic-plant',
      },
      {
        url: 'assets/images/about-company/university.png',
        alt: 'К-40',
        name: 'ООО «К-40»',
        class: 'university',
      },
      {
        url: 'assets/images/about-company/rise-development.png',
        alt: 'Райз Девелопмент',
        name: 'ООО «Райз Девелопмент»',
        class: 'rise-development',
      },
    ]

  main.main.about-company.container-fluid.px-0(data-scroll-container)
    .header-parent(data-scroll-section data-header-parent)
      include ../partials/_header.pug

    +pageTitle("О компании")(data-scroll-section)

    .ticker(data-scroll-section)
      .ticker-wrapper.text(data-scroll-direction="horizontal" data-scroll-speed="6" data-scroll)
        p.ticker-content #[span Сила] #[span Стабильного] #[span Партнерства]
        img.ticker-img-1(src="assets/images/about-company/ticker-img-1.jpg", alt="ticker-img-1" data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll)
        img.ticker-img-2(src="assets/images/about-company/ticker-img-2.jpg", alt="ticker-img-2" data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll)
        img.ticker-img-3(src="assets/images/about-company/ticker-img-3.jpg", alt="ticker-img-3" data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll)

    .about-company__top(data-scroll-section)
      .row.justify-content-center
        .col-8.col-md-6
          p.about-company__top-description С 2008 года, специализируемся на консалтинге в области права и риск менеджмента, оказании профессиональной юридической помощи и сопровождении бизнеса своих клиентов.
      .row.justify-content-end.fadeInUp(data-scroll)
        .col-8.col-md-4
          .about-company__top-subdescription
            .row
              .col-8.col-md-6
                p Наш основной принцип деятельности заложен в самом названии и представляет собой силу стабильного партнерства, мы стремимся достигать высоких результатов и поставленных перед нами задач, становясь не просто инструментом для наших клиентов, а полноценным партнером в ведении их бизнеса и решении иных задач.

    .about-company__advantages(data-scroll-section)
      .about-company__advantages-bg(data-scroll, data-scroll-speed="-1")
      p.about-company__advantages-text.fadeInUp(data-scroll) #[span Доверие, конфиденциальность,] #[br] #[span ответственность и] #[br] #[span профессионализм] — то, что мы готовы предоставить Вам #[br] в процессе нашего сотрудничества.

    include ../components/_recognition.pug

    .about-company__clients(data-scroll-section)
      .about-company__clients-header
        .row.justify-content-between
          .col-2.d-none.d-md-block
          .col
            h2
              span(data-scroll) Наши клиенты
          .col-auto
            .about-company__clients-slider-navigation.fadeIn(data-scroll)
              .prev-btn
                img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="prev")
              .next-btn
                img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="next")
      .about-company__clients-slider.swiper-container.fadeIn(data-scroll)
        .about-company__clients-slider-wrapper.swiper-wrapper
          each client in clients
            .about-company__clients-slider-slide.swiper-slide
              .slide-img
                span
                  img(src=client.url, alt=client.alt, class=client.class)
              p= client.name


    +seeNext("command", "Команда")

    .footer__wrap(data-scroll-section)
      include ../partials/_footer.pug
