extends ../layouts/master.pug

block header
  .cases-page
    include ../partials/_header.pug

block content
  -
    const cases_other = [
      {
        url: "case",
        title: "Спор с «ЛенСпецСМУ»",
        category: "споры с государственными органами",
        img: {
          url: "assets/images/cases/etalon.png",
          alt: "Эталон ЛенСпецСМУ"
        },
        practices: [
          {
            url: "#",
            name: "Недвижимость и строительство"
          },
          {
            url: "#",
            name: "Разрешение споров и арбитраж"
          },
        ]
      },
      {
        url: "case",
        title: "Защита интересов Европейского Университета",
        category: "защита прав частного клиента",
        img: {
          url: "assets/images/cases/university.png",
          alt: "Европейский университет в Санкт-Петербурге"
        },
        practices: [
          {
            url: "#",
            name: "Банкротство и антикризисный консалтинг"
          },
          {
            url: "#",
            name: "Страховое право"
          },
          {
            url: "#",
            name: "Корпоративное право и M&A"
          },
        ]
      },
      {
        url: "case",
        title: "Спор с «ЛенСпецСМУ»",
        category: "споры с государственными органами",
        img: {
          url: "assets/images/cases/etalon.png",
          alt: "Эталон ЛенСпецСМУ"
        },
        practices: [
          {
            url: "#",
            name: "Недвижимость и строительство"
          },
          {
            url: "#",
            name: "Разрешение споров и арбитраж"
          },
        ]
      },
    ]

  main.main.case.container-fluid.px-0
    .case__content
      .row
        .col-2.d-none.d-lg-block
          .left-block(data-aos="fade-up")
            .case__share
              +beforeBtn("/cases", "Все кейсы")
              .share
                p.share__title Поделиться новостью
                ul.share__links
                  li.share__links-item
                    a(href="#") Facebook
                  li.share__links-item
                    a(href="#") Вконтакте
        .col-8.col-lg-6.col-xl-4
          .case__head
            h1.case__title Защита интересов Европейского Университета
            +tabBtn("#", "споры с государственными органами", "disabled")
            .case__head-img
              span
                img(src="assets/images/cases/university.png", alt="Европейский университет в Санкт-Петербурге")
          .case-block
            .subject(data-aos="fade-up")
              p Будучи собственником двух парковочных мест в крытом паркинге наш Клиент после ввода в эксплуатацию паркинга обратился к Застройщику с требование о замене парковочных мест, так как использовать их без ущерба автомобилю невозможно: ширина проезжей части автостоянки заужена из-за установления металлических колесоотбойников. В замене мест Застройщик отказал.
              p Назначенная в рамках судебного разбирательства экспертиза выявила грубое нарушение нормативов при строительстве - ширина проезжей части и ширина полосы движения оказались уже. Доводы юристов убедили суд в том, что Застройщик продал Клиенту товар с неоговоренными недостатками, не уведомив Клиента о том, что заезд в паркинг автомобиля без повреждения невозможен, тем самым ввел в заблуждение Клиента о качестве и свойстве продаваемых парковочных мест.
            .result(data-aos="fade-up")
              h4.result__title В результате в пользу Клиента взыскано с Застройщика более 3 млн. рублей:
              ul.result__numeric-list
                li #[span 1.] Если Вы сомневаетесь или не согласны с включением вашего здания в указанный Перечень, обратитесь к специалистам ССП-Консалт, мы поможем проанализировать правильность расчета и, в случае необходимости, оспорить решение исполнительного органа.
                li #[span 2.] Если же объект в Перечень включен правомерно, специалисты ССП-Консалт помогут в оспаривании кадастровой стоимости зданий, а также земельных участков.
              p.result__text Назначенная в рамках судебного разбирательства экспертиза выявила грубое нарушение нормативов при строительстве - ширина проезжей части и ширина полосы движения оказались уже. Доводы юристов убедили суд в том, что Застройщик продал Клиенту товар с неоговоренными недостатками, не уведомив Клиента о том, что заезд в паркинг автомобиля без повреждения невозможен, тем самым ввел в заблуждение Клиента о качестве и свойстве продаваемых парковочных мест.
              ul.result__disc-list
                li Если Вы сомневаетесь или не согласны с включением вашего здания в указанный Перечень, обратитесь к специалистам ССП-Консалт, мы поможем проанализировать правильность расчета и, в случае необходимости, оспорить решение исполнительного органа.
                li Если же объект в Перечень включен правомерно, специалисты ССП-Консалт помогут в оспаривании кадастровой стоимости зданий, а также земельных участков.

      .case__other-cases
        h2.case__other-cases-title Другие кейсы
        ul.case__other-cases-block
          each caseItem in cases_other
            +caseItem(caseItem, true)

block footer
  include ../partials/_footer.pug
