extends ../layouts/master.pug

block header
  .contacts-page
    include ../partials/_header.pug

block content
  main.main.contacts.container-fluid.px-0
    .contacts-block
      .contacts-block__content(data-aos="fade-up")
        +pageTitle("Контакты")
        .row
          .col-8.col-md-4.d-flex.justify-content-xl-end
            ul.contacts-block__addresses
              li.contacts-block__address
                span.number 01
                p.address #[span Каменноостровский пр.,] #[span 73–75,] #[span оф. 9]
              li.contacts-block__address
                span.number 02
                p.address #[span ул. Чайковского,] 50
          .col-8.col-md-4.col-xxl-3.d-flex.justify-content-md-end
            .contacts-block__links
              a(href="tel:+7 812 901–02–01").phone +7 812 901–02–01
              a(href="mailto:site@ssp-consult.ru").email site@ssp-consult.ru
              p.work-time #[span пнд — пт] #[br] #[span 9 — 18.30]

    .contacts__map(data-aos="fade-up")
      #map

    .contacts__advices
      p.contacts__advices-subtitle Интересное о праве
      h2.contacts__advices-title Советы и рекомендации в наших соц.сетях
      .contacts__advices-imgs
        .row.justify-content-end
          .col.col-md-2.pe-xs-0
            a.contacts__advice-img(href="#" data-aos="fade-up")
              img(src="assets/images/contacts/advice-1.png")
          .col.col-md-2.px-xs-0
            a.contacts__advice-img(href="#" data-aos="fade-up" data-aos-delay="200")
              img(src="assets/images/contacts/advice-2.png")
          .col.col-md-2.ps-xs-0
            a.contacts__advice-img(href="#" data-aos="fade-up" data-aos-delay="400")
              img(src="assets/images/contacts/advice-3.png")
      .contacts__advices-join
        .row.justify-content-end(data-aos="fade-up")
          .col-8.col-md-4
            p.join-title Присоединяйтесь
          .col-4.d-none.d-md-block
          .col-4.col-xl-2
            ul.contacts__advices-networks
              li.contacts__advices-network
                a.link(href="#") Instagram
              li.contacts__advices-network
                a.link(href="#") Facebook
              li.contacts__advices-network
                a.link(href="#") Telegram

    .contacts__feedback
      .row
        .col-8.col-sm-6
          +feedbackForm("Задать вопрос или запросить коммерческое предложение", "feedback-agree")

    +seeNext("about-company", "О компании")

block footer
  include ../partials/_footer.pug
