extends ../layouts/master.pug

block header
  .events-page
    include ../partials/_header.pug

block content
  -
    const similarEvents = [
      {
        date: '20 декабря 2020',
        title: 'Дарья Титкова в «Диалоге с бизнесом», при поддержке ЛО ТПП',
        moreUrl: '#',
        tabs: [
          {
            url: "#",
            text: "суды"
          },
          {
            url: "#",
            text: "адвокаты"
          },
          {
            url: "#",
            text: "арбитраж"
          }
        ],
      },
      {
        date: '20 декабря 2020',
        title: 'ССП–Консалт ищет пострадавших от бездействий авиакомпаний',
        moreUrl: '/event',
        tabs: [
          {
            url: "#",
            text: "суды"
          }
        ],
      }
    ]

  main.main.event.container-fluid.px-0
    .event__wrapper
      .event__block
        +eventsSubscribe(true)
        .event__content
          .row.justify-content-center
            .col-8.col-xl-4
              .event__content-header(data-aos="fade-up")
                h1.event__content-title ССП-Консалт ищет пострадавших от бездействий авиакомпаний
                ul.event__content-tabs
                  li.event__content-tab
                    +tabBtn("#", "суды", "disabled")
                  li.event__content-tab
                    +tabBtn("#", "адвокаты", "disabled")
                  li.event__content-tab
                    +tabBtn("#", "арбитраж", "disabled")
                span.event__content-date 26.08.2020
          .row
            .col-2.d-none.d-lg-block
            .col-8.col-lg-5
              .event__content-block
                p.event__content-subject(data-aos="fade-up") Будучи собственником двух парковочных мест в крытом паркинге наш Клиент после ввода в эксплуатацию паркинга обратился к Застройщику с требование о замене парковочных мест, так как использовать их без ущерба автомобилю невозможно: ширина проезжей части автостоянки заужена из-за установления металлических колесоотбойников. В замене мест Застройщик отказал.
                img.event__content-image(src="assets/images/event/event.jpg", alt="event" data-aos="fade-up")
                .event__content-results(data-aos="fade-up")
                  h3.results__title В результате в пользу Клиента взыскано с Застройщика более 3 млн. рублей:
                  p.results__item 4 апреля 2020 "Аэрофлот" предложил пассажирам обратиться за переоформлением билетов или возвратом денег в контакт-центр. 12 апреля Александр Л. направил несколько обращений в "Аэрофлот" о возврате денежных средств, однако обращения остались без ответа.
                  p.results__item "Аэрофлот" ответил лишь через месяц, ЗАВЕРИВ, что БИЛЕТЫ СТОЯТ В ОЧЕРЕДЬ НА ВОЗВРАТ. Так же авиакомпания проинформировала, о возможности компенсации стоимости билета ваучером. Отказавшись от ваучера, Александр в очередной раз потребовал возврат денежных средств. «Аэрофлот» деньги не вернул даже спустя месяц после направления им претензии.
                  p.results__item С 07.07.2020 «Аэрофлот» ссылается на Постановление Правительства РФ от 06.07.2020 № 991, согласно которому, деньги Александр сможет получить лишь через три года, либо воспользоваться ваучером.
                  p.results__item Уклоняясь от возврата денежных средств пассажирам, ссылаясь на Постановление № 991, принятое после направления обращений, «Аэрофлот» грубо нарушает права потребителя. Данные действия являются незаконными и необоснованными.
      .event__similar
        h2.event__similar-title Похожие публикации
        .row.justify-content-end
          .col-8.col-xl-6
            ul.event__similar-list(data-aos="fade-up")
              each event in similarEvents
                +newsItem(event.date, event.title, event.moreUrl, event.tabs)

block footer
  include ../partials/_footer.pug
