extends ../layouts/master.pug

block header
  .practices-page
    include ../partials/_header.pug

block content
  -
    const practices_cases = [
      {
        url: "case",
        title: "Спор с «ЛенСпецСМУ»",
        category: "споры с государственными органами",
        img: {
          url: "assets/images/cases/etalon.png",
          alt: "Эталон ЛенСпецСМУ"
        },
        practices: [
          {
            url: "#",
            name: "Недвижимость и строительство"
          },
          {
            url: "#",
            name: "Разрешение споров и арбитраж"
          },
        ]
      },
      {
        url: "case",
        title: "Защита интересов Европейского Университета",
        category: "защита прав частного клиента",
        img: {
          url: "assets/images/cases/university.png",
          alt: "Европейский университет в Санкт-Петербурге"
        },
        practices: [
          {
            url: "#",
            name: "Банкротство и антикризисный консалтинг"
          },
          {
            url: "#",
            name: "Страховое право"
          },
          {
            url: "#",
            name: "Корпоративное право и M&A"
          },
        ]
      },
      {
        url: "case",
        title: "Спор с «ЛенСпецСМУ»",
        category: "споры с государственными органами",
        img: {
          url: "assets/images/cases/etalon.png",
          alt: "Эталон ЛенСпецСМУ"
        },
        practices: [
          {
            url: "#",
            name: "Недвижимость и строительство"
          },
          {
            url: "#",
            name: "Разрешение споров и арбитраж"
          },
        ]
      },
    ]

    const accordion = [
      {
        title: "Представление интересов в государственных и муниципальных органах"
      },
      {
        title: "Сопровождение проверок государственными и муниципальными органами"
      },
      {
        title: "Обжалование ненормативно-правовых актов, незаконных решений и действий (бездействия) госорганов в вышестоящий орган или в судебном порядке"
      },
      {
        title: "Оспаривание кадастровой стоимости"
      },
      {
        title: "Урегулирование споров с государственными органами"
      },
    ]

    const practices_headers = [
      {
        title: "Банкротство#[br]и корпоративные#[br]конфликты",
        number: "01",
        className: "bankruptcy",
        imgs: [
          {
            src: "assets/images/practices/practice-1.jpg",
          }
        ]
      },
      {
        title: "Административно#[br]–правовая#[br]защита",
        number: "02",
        className: "protection",
        imgs: [
          {
            src: "assets/images/practices/practice-2.jpg",
          }
        ]
      },
      {
        title: "Абонентское#[br]обслуживание",
        number: "03",
        className: "service",
        imgs: [
          {
            src: "assets/images/practices/practice-3.jpg",
          }
        ]
      },
      {
        title: "Трудовое#[br]право",
        number: "04",
        className: "labor-law",
        imgs: [
          {
            src: "assets/images/practices/practice-4.jpg",
          }
        ]
      },
      {
        title: "Недвижимость#[br]и строительство",
        number: "05",
        className: "real-estate",
        imgs: [
          {
            src: "assets/images/practices/practice-5.jpg",
          }
        ]
      },
      {
        title: "Страховое#[br]право",
        number: "06",
        className: "insurance-law",
        imgs: [
          {
            src: "assets/images/practices/practice-6.jpg",
          }
        ]
      },
      {
        title: "Управление#[br]финансовой#[br]задолженностью",
        number: "07",
        className: "indebtedness",
        imgs: [
          {
            src: "assets/images/practices/practice-7.png",
          }
        ]
      },
      {
        title: "Разрешение#[br]споров",
        number: "08",
        className: "dispute-resolution",
        imgs: [
          {
            src: "assets/images/practices/practice-8.jpg",
          }
        ]
      },
      {
        title: "PRO BONO",
        number: "09",
        className: "pro-bono",
        imgs: [
          {
            src: "assets/images/practices/practice-9-1.png",
          },
          {
            src: "assets/images/practices/practice-9-2.png",
          }
        ]
      },
    ]

  main.main.practices.container-fluid.px-0

    each header in practices_headers
      if header.className == "indebtedness"
        .practices__header(class= header.className)
          each img in header.imgs
            .practices__header-img
              img(src= img.src, alt= header.title)
          .practices__header-content
            h1.practices__header-title= header.title
            span.practices__header-number= header.number

    .practices__content
      .all-practices
        .all-practices__trigger
          p.all-practices__title(data-aos="fade-up") Все практики
          .all-practices__trigger-img
            img.svg(src="assets/images/icons/arrow-right.svg" alt="arrow")
        .all-practices-block
          ul.all-practices__items(data-aos="fade-up" data-aos-delay="200")
            li.all-practices__item
              a.link(href="#") Банкротство и корпоративные конфликты
            li.all-practices__item
              a.link(href="#") Административно–правовая защита
            li.all-practices__item
              a.link(href="#") Абонентское обслуживание
          ul.all-practices__items(data-aos="fade-up" data-aos-delay="400")
            li.all-practices__item
              a.link(href="#") Трудовое и административное право
            li.all-practices__item
              a.link(href="#") Недвижимость и строительство
            li.all-practices__item
              a.link(href="#") Страховое право
          ul.all-practices__items(data-aos="fade-up" data-aos-delay="600")
            li.all-practices__item
              a.link(href="#") Управление финансовой задолженностью
            li.all-practices__item
              a.link(href="#") Разрешение споров
            li.all-practices__item
              a.link(href="#") PRO BONO

      .practices__timeline-slider.swiper-container
        .practices__timeline.swiper-wrapper(data-aos="fade-up")
          .practices__timeline-item.swiper-slide
            .practices__timeline-item-img
              img(src="assets/images/practices/pravo-300.jpg")
            span.name ПРАВО–300
            span.date 2020
          .practices__timeline-item.swiper-slide
            .practices__timeline-item-img
              img(src="assets/images/practices/pravo-300.jpg")
            span.name ПРАВО–300
            span.date 2019
          .practices__timeline-item.swiper-slide
            .practices__timeline-item-img
              img(src="assets/images/practices/pravo-300.jpg")
            span.name ПРАВО–300
            span.date 2018
          .practices__timeline-item.swiper-slide
            .practices__timeline-item-img
              img(src="assets/images/practices/pravo-300.jpg")
            span.name ПРАВО–300
            span.date 2017
          .practices__timeline-item.swiper-slide
          .practices__timeline-item.swiper-slide
          .practices__timeline-item.swiper-slide
          .practices__timeline-item.swiper-slide

      .practices__about
        .row
          .col-8.col-xl-2
            p.practices__about-title(data-aos="fade-up") О практике
          .col-8.col-xl-5
            p.practices__about-top(data-aos="fade-up" data-aos-delay="200") В рамках административно–правовой защиты бизнеса юристы ССП–Консалт оказывают поддержку организациям в ходе взаимодействия с государственными органами, а также помогают разрешить уже возникшие споры по делам об административных правонарушениях.
        .row.justify-content-end
          .col-8.col-lg-6.col-xl-4
            .practices__about-bottom(data-aos="fade-up" data-aos-delay="400")
              p Усиление государственного регулирования бизнеса приводит к тому, что компании все чаще нуждаются в квалифицированной юридической помощи в сфере административного права. Большинство организаций и предпринимателей регулярно сталкиваются со всевозможными проверками, нередко их следствием являются штрафы и предписания, обоснованность которых можно поставить под сомнение.

      .practices__services
        .row.justify-content-end
          .col-8.col-xl-7
            h2.practices__services-title Услуги
          .col-8.col-lg-7.col-xl-6
            ul.practices__services-accordion
              each item,i in accordion
                li.practices__services-accordion-item.accordion-item(class = i == 3 ? "active" : "" data-aos="fade-up")
                  .accordion-item__trigger
                    span.accordion-item__trigger-number= (i + 1)
                    p.accordion-item__trigger-title= item.title
                    .accordion-item__trigger-img
                      img.svg(src="assets/images/practices/tab-arrow.svg" alt="arrow")
                  include ../components/_accordion-content.pug

    .practices__manager
      .practices__feedback-modal
        .practices__feedback-modal-close
          img.svg(src="assets/images/icons/close.svg", alt="close")
        +feedbackForm("Задать вопрос руководителю практики", "feedback-agree-modal")

      .practices__manager-content
        .row.justify-content-between
          .col-6.col-sm-3.col-md-2
            .practices__manager-img(data-aos="fade-up")
              img(src="assets/images/practices/practice-manager.jpg")
          .col-lg-6.col-xl-5
            .practices__manager-block
              .position-block
                p(data-aos="fade-up" data-aos-delay="200") Руководитель практики
                .position-right.d-none.d-lg-block
                  p(data-aos="fade-up" data-aos-delay="400") Руководитель практики административного и страхового права
              .name-block
                p.surname(data-aos="fade-up" data-aos-delay="600") Назарова #[br]
                p.name(data-aos="fade-up" data-aos-delay="800") Екатерина Артёмовна
              .position-right.d-lg-none
                p(data-aos="fade-up" data-aos-delay="400") Руководитель практики административного и страхового права
              .practices__manager-links
                a(href="mailto:nea@ssp-consult.ru" data-aos="fade-up" data-aos-delay="800").email nea@ssp-consult.ru
                .newtworks.d-lg-none(data-aos="fade-up" data-aos-delay="1000")
                  a(href="#") Telegram
                  a(href="#") WhatsApp
              .practices__manager-bottom(data-aos="fade-up" data-aos-delay="1000")
                +moreBtn("#", "Задать вопрос")
                .newtworks.d-none.d-lg-flex
                  a(href="#") Telegram
                  a(href="#") WhatsApp

    .practices__cases
      .practices__cases-block
        h2.practices__cases-title Другие кейсы
        ul.practices__cases-items
          each caseItem in practices_cases
            +caseItem(caseItem, true)

      .practices__feedback
        .row.justify-content-center
          .col-8.col-lg-6
            +feedbackForm("Задать вопрос или запросить коммерческое предложение", "feedback-agree")

    +seeNext("#", "Административно-правовая защита")

block footer
  include ../partials/_footer.pug
