footer.footer.container-fluid.px-0
  .footer__content
    .row
      .col-8.col-md-3.col-xl-4
        p.footer__title
          | #[span С]ила #[br] #[span С]табильного #[br] #[span П]артнерства
      .col-8.col-md-5.col-xl-4
        .footer__links
          .row
            .col-4.col-md-2.order-1
              ul.footer__links-block
                li.footer__links-item
                  a.link(href="cases") Кейсы
                li.footer__links-item
                  a.link(href="about-company") О компании
                li.footer__links-item
                  a.link(href="command") Команда
            .col-4.order-2
              ul.footer__links-block
                li.footer__links-item
                  a.link(href="events") События
                li.footer__links-item
                  a.link(href="contacts") Контакты
            .col-4.col-md-2.order-4.order-md-3.ms-auto.ms-md-0
              ul.footer__networks
                li.footer__network
                  a.link(href="#" target="_blank") Instagram
                li.footer__network
                  a.link(href="#" target="_blank") Facebook
                li.footer__network
                  a.link(href="#" target="_blank") Telegram
            .col-8.order-3.order-md-4
              .footer__contacts.d-flex.flex-column
                a(href="tel:+7 812 901–02–01").phone +7 812 901–02–01
                a(href="mailto:site@ssp-consult.ru").email site@ssp-consult.ru
    .footer__bottom.row.justify-content-between.flex-column.flex-md-row
      .col
        p.copyrigh © 2020 ССП-Консалт
      .col.d-flex.justify-content-md-end
        p.author
          | Сделано в
          a(href="https://cloudmill.ru/" target="_blank")  CloudMill
