.loader
  p.loader-title
    | #[span С]ила #[br] #[span С]табильного #[br] #[span П]артнерства
  svg.loader-progress.loader-progress_desktop(width="610", height="610")
    circle.loader-progress__circle(stroke="transparent", stroke-width='1', cx='305', cy='305', r='304', fill='transparent')
  svg.loader-progress.loader-progress_mobile(width="290", height="290")
    circle.loader-progress__circle(stroke="transparent", stroke-width='1', cx='145', cy='145', r='144', fill='transparent')
