@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Medium.eot");
  src: url("../fonts/Pragmatica-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Pragmatica-Medium.woff2") format("woff2"),
    url("../fonts/Pragmatica-Medium.woff") format("woff"),
    url("../fonts/PragmaticaExtended-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Book.eot");
  src: url("../fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Pragmatica-Book.woff2") format("woff2"),
    url("../fonts/Pragmatica-Book.woff") format("woff"),
    url("../fonts/PragmaticaExtended-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kudryashev Headline";
  src: url("../fonts/KudryashevHeadline-Sans.eot");
  src: url("../fonts/KudryashevHeadline-Sans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KudryashevHeadline-Sans.woff2") format("woff2"),
    url("../fonts/KudryashevHeadline-Sans.woff") format("woff"),
    url("../fonts/KudryashevHeadline-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//@import 'normalize.css';

// Which objects and abstractions would you like to use?
//base
$use-btn-color: true !default;
$use-btn-size: true !default;
$use-btn-group: false !default;
$use-input-group: false !default;
$use-table: true !default;
$use-color-table: false !default;
$use-column-table: false !default;
$use-color-text: true !default;

//modules
$use-accordion: false !default;
$use-breadcrumb: true !default;
$use-pagination: true !default;
$use-pager: true !default;
$use-space: true !default;
$use-split: false !default;
$use-rules: false !default;
$use-this-or-this: false !default;
$use-media: true !default;
// grids
$use-adaptive: true !default;
$use-flexbox: true !default;
$use-bem: false !default;
// plugins
$use-animations: false !default;
$debug-mode: false !default;

// @import "_sprites";

// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~swiper/swiper-bundle.css";
@import "~jbox/dist/jBox.all.css";
@import "~aos/dist/aos.css";
@import "~select2/dist/css/select2.css";
@import "~rangeslider.js/dist/rangeslider.css";
