.accordion-item__content
  .accordion-item__content-top
    p.accordion-item__content-top-text Каждый год уполномоченный орган исполнительной власти субъекта Российской Федерации (далее Госорган) определяет Перечень объектов недвижимого имущества, в отношении которых налоговая база определяется как кадастровая стоимость (далее Перечень). Вследствие неправомерного включения в этот Перечень, владельцы зданий, как правило, вынуждены платить налог на имущество в большем размере, тем самым претерпевая убытки.
  .accordion-item__content-img
    img(src="assets/images/practices/service.jpg")
  .accordion-item__content-bottom
    p.accordion-item__content-bottom-text Не всегда включение в Перечень соответствует действительности, порой при проведении обследований объектов применяется неверный расчет, включаются площади, не подлежащие включению, либо обследование вовсе не проводится.
    ul.accordion-item__content-list
      li #[span 1.]Если Вы сомневаетесь или не согласны с включением вашего здания в указанный Перечень, обратитесь к специалистам ССП-Консалт, мы поможем проанализировать правильность расчета и, в случае необходимости, оспорить решение исполнительного органа.
      li #[span 2.]Если же объект в Перечень включен правомерно, специалисты ССП-Консалт помогут в оспаривании кадастровой стоимости зданий, а также земельных участков.
    .accordion-item__content-links
      .accordion-item__content-links_left
        p Справки по телефону
        a(href="tel:8 812 901–02–01").link.phone 8 812 901–02–01
      .accordion-item__content-links_right
        p Или на почту руководителю направления Екатерине Назаровой
        a(href="mailto:nea@ssp-consult.ru").link.email nea@ssp-consult.ru