.all-practices
  p.all-practices__title(data-scroll) Все практики
  .all-practices-block
    ul.all-practices__items(data-scroll)
      li.all-practices__item
        a.link(href="#") Банкротство и корпоративные конфликты
      li.all-practices__item
        a.link(href="#") Административно–правовая защита
      li.all-practices__item
        a.link(href="#") Абонентское обслуживание
    ul.all-practices__items(data-scroll)
      li.all-practices__item
        a.link(href="#") Трудовое и административное право
      li.all-practices__item
        a.link(href="#") Недвижимость и строительство
      li.all-practices__item
        a.link(href="#") Страховое право
    ul.all-practices__items(data-scroll)
      li.all-practices__item
        a.link(href="#") Управление финансовой задолженностью
      li.all-practices__item
        a.link(href="#") Разрешение споров
      li.all-practices__item
        a.link(href="#") PRO BONO