-
  const anonces = [
    {
      preview: "Всем арендателям. Как получить скидку 50% на аренду. Наш ведущий юрист дает советы.",
      description: "Ковид бушует как никогда. Экономика страдает, а правительство закручивает гайки. Ваш бизнес под угрозой! Мы можем помочь, раскажем, как снизить арендную плату и получить субсидии от В.В. Путина.",
      url: "#"
    },
    {
      preview: "Всем арендателям. Как получить скидку 50% на аренду. Наш ведущий юрист дает советы.",
      description: "Ковид бушует как никогда. Экономика страдает, а правительство закручивает гайки. Ваш бизнес под угрозой! Мы можем помочь, раскажем, как снизить арендную плату и получить субсидии от В.В. Путина.",
      url: "#"
    },
    {
      preview: "Всем арендателям. Как получить скидку 50% на аренду. Наш ведущий юрист дает советы.",
      description: "Ковид бушует как никогда. Экономика страдает, а правительство закручивает гайки. Ваш бизнес под угрозой! Мы можем помочь, раскажем, как снизить арендную плату и получить субсидии от В.В. Путина.",
      url: "#"
    },
  ]

.anonce.container-fluid.px-0
  .anonce__slider.swiper-container
    .anonce__slider-wrapper.swiper-wrapper
      each anonce in anonces
        .anonce__slider-slide.swiper-slide
          .anonce__content
            .anonce__trigger
              .row.align-items-center
                .col-2.d-none.d-lg-block
                  .anonce__trigger-title
                    h4 Анонсы
                    .line
                .col-auto.col-lg-5
                  p.anonce__trigger-preview= anonce.preview
                .col-auto.col-lg-1.d-flex.justify-content-end
                  .anonce__trigger-btn
                    .more
                      img.svg(src="assets/images/icons/arrow-right.svg", alt="more")
                    .close
                      img.svg(src="assets/images/icons/close.svg", alt="close")
          .anonce__block
            .anonce__block-content
              .row
                .col-auto.col-sm-2
                  .anonce__block-navigation.zoom-hide-item
                    .anonce__slider-button-prev.prev-btn
                      img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="prev")
                    .anonce__slider-button-next.next-btn
                      img.svg(src="assets/images/icons/slider-arrow-small.svg", alt="next")
                .col-sm-6.col-lg-3
                  .anonce__block-text.zoom-hide-item
                    p.anonce__block-description= anonce.description
                    +moreBtn(anonce.url, "Подробнее")
