.practices-modal.disactive
  .practices-modal__content
    .practices-modal_close
      img.svg(src="assets/images/icons/close.svg")
    .row.justify-content-center.flex-column.flex-md-row
      .col-2
        .practices-modal__logo
          a(href="/")
            img.svg.logo__img(src="assets/images/icons/logo.svg", alt="logo")
      .col-6
        a.practices-modal__link(href="#")
          span Практики
          .btn-close
            img.svg(src="assets/images/icons/close.svg", alt="close")
    .row.flex-column.flex-xl-row
      .col-2.d-none.d-xl-block
      .col.col-xl-2
        .practices-modal__item.practices-modal__item-1.zoom-hide-item
          .row
            .col-4.col-xl-8
              .practices-modal__item-img
            .col-4.col-xl-8
              a.link(href="practices") Банкротство и корпоративные конфликты
      .col.col-xl-2
        .practices-modal__item.practices-modal__item-2.zoom-hide-item
          .row
            .col-4.col-xl-8
              .practices-modal__item-img
            .col-4.col-xl-8
              a.link(href="practices") Трудовое право
      .col.col-xl-2
        .practices-modal__item.practices-modal__item-3.zoom-hide-item
          .row
            .col-4.col-xl-8
              .practices-modal__item-img
            .col-4.col-xl-8
              a.link(href="practices") Разрешение споров
    .row
      .col-2.d-none.d-xl-block
      .col-8.col-md-4.col-xl-2
        ul.practices-modal__links.zoom-hide-item
          li.practices-modal__links-item
            a.link(href="practices") Административно–правовая защита
          li.practices-modal__links-item
            a.link(href="practices") Абонентское обслуживание
      .col-8.col-md-4.col-xl-2
        ul.practices-modal__links.zoom-hide-item
          li.practices-modal__links-item
            a.link(href="practices") Недвижимость и строительство
          li.practices-modal__links-item
            a.link(href="practices") Страховое право
      .col-8.col-xl-2
        ul.practices-modal__links.last.zoom-hide-item
          li.practices-modal__links-item
            a.link(href="practices") Управление финансовой задолженностью
          li.practices-modal__links-item
            a.link(href="practices") PRO BONO
