.recognition(data-scroll-section)
  -
    const recognitions = [
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
      {
        url: 'assets/images/recognition-1.png',
      },
      {
        url: 'assets/images/recognition-2.png',
      },
      {
        url: 'assets/images/recognition-3.png',
      },
      {
        url: 'assets/images/recognition-4.svg',
      },
    ]

  h2.recognition__title
    span.recognition__title-span(data-scroll) Признание

  .recognition__content(data-scroll)
    .recognition__content-row.recognition__content-row-1
      each recognition in recognitions
        .recognition__content-item
          img.recognition__content-item-img(src=recognition.url, alt="logo")
    .recognition__content-row.recognition__content-row-2
      each recognition in recognitions
        .recognition__content-item
          img.recognition__content-item-img(src=recognition.url, alt="logo")
